node_modules
public/hot
vendor
.env
.env.bkp
.phpunit.result.cache
phpcs.xml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
uploads
storage/app/uploads
storage/logs
modules_statuses.json
docker-compose.override.yml
.idea
.vscode
/nbproject/private/
.devcontainer.json