[mysqld]
default_authentication_plugin= mysql_native_password

server-id = 102 # Remember this is only Integer per official documentation
log-bin=mysql-bin
binlog_do-db = lladb
binlog-ignore-db = mysql
bind-address = 0.0.0.0 # make sure to bind it to all IPs, else mysql listens on 127.0.0.1
character_set_server = utf8
collation_server = utf8_general_ci

[mysql]
default_character_set = utf8